<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>controller.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterFeedback</servlet-name>
        <servlet-class>controller.FilterFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyFeedbackServlet</servlet-name>
        <servlet-class>controller.ReplyFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFeedback</servlet-name>
        <servlet-class>controller.SearchFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletePay</servlet-name>
        <servlet-class>controller.CompletePay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemAdminServlet</servlet-name>
        <servlet-class>controller.DeleteCartItemAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeItemAdmin</servlet-name>
        <servlet-class>controller.ChangeItemAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookingScheduleAdmin</servlet-name>
        <servlet-class>controller.UpdateBookingScheduleAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterFeedback</servlet-name>
        <url-pattern>/filterFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyFeedbackServlet</servlet-name>
        <url-pattern>/ReplyFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFeedback</servlet-name>
        <url-pattern>/searchFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletePay</servlet-name>
        <url-pattern>/CompletePay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItemAdminServlet</servlet-name>
        <url-pattern>/deleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeItemAdmin</servlet-name>
        <url-pattern>/ChangeItemAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookingScheduleAdmin</servlet-name>
        <url-pattern>/UpdateBookingScheduleAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            DispatcherServlet
        </welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
